fastapi
uvicorn
python-multipart
sqlalchemy
psycopg2-binary
alembic
pydantic
python-jose
passlib[bcrypt]
bcrypt==4.0.1
sentence-transformers
faiss-cpu
langchain
langsmith
openai
pypdf
pdfplumber
python-dotenv